Repository 10576769/cardano-sl, changes with the owners that CODEOWNERS names for each.
All owners: @erikd, @gromakovsky, @akegalj, @sectore, @ksaric, @iohk-devops, @akegaljj, @martoon, @domenkozar, @ignore-autogenerated-file, @adinapoli-iohk, @parsonsmatt, @vincenthz, @denisshevchenko, @volhovm, @pva701, @rockbmb, @dcoutts, @avieth, @kantp, @int-index

[CSL-2384] Use persistent state in data layer
  wallet-new/cardano-sl-wallet-new.cabal
  wallet-new/server/Main.hs
  wallet-new/src/Cardano/Wallet/Kernel.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/AcidState.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet/Create.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Update.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Util.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Util/IxSet.hs
  wallet-new/src/Cardano/Wallet/Kernel/PrefilterTx.hs
  wallet-new/src/Cardano/Wallet/Kernel/Types.hs
  wallet-new/src/Cardano/Wallet/WalletLayer.hs
  wallet-new/src/Cardano/Wallet/WalletLayer/Kernel.hs
  wallet-new/test/unit/Test/Spec/Kernel.hs
  wallet-new/test/unit/Wallet/Inductive/Cardano.hs
Owners: @adinapoli-iohk

[CSL-2384] Create Spec.Read Acidstate layer
  wallet-new/cardano-sl-wallet-new.cabal
  wallet-new/src/Cardano/Wallet/Kernel.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/AcidState.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet/Create.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Read.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Update.hs
  wallet-new/src/Cardano/Wallet/Kernel/PrefilterTx.hs
  wallet-new/src/Cardano/Wallet/WalletLayer.hs
  wallet-new/src/Cardano/Wallet/WalletLayer/Kernel.hs
  wallet-new/test/unit/Wallet/Inductive/Cardano.hs
Owners: @adinapoli-iohk

[CSL-2384] AcidState Query, use single query on db snapshot
  wallet-new/cardano-sl-wallet-new.cabal
  wallet-new/src/Cardano/Wallet/Kernel.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/AcidState.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Read.hs
Owners: @adinapoli-iohk

[CSL-2384] Implement 'our addresses', using AcidState Addresses for an Account (includes writing Addresses during wallet creation and applyBlock)
  wallet-new/src/Cardano/Wallet/Kernel.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/AcidState.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet/Create.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet/Read.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Read.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Update.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Util/IxSet.hs
  wallet-new/src/Cardano/Wallet/Kernel/PrefilterTx.hs
  wallet-new/test/unit/Wallet/Inductive/Cardano.hs
Owners: @adinapoli-iohk

[CDEC-348] Add some gens for types in Pos.Core.Ssc
  core/test/Test/Pos/Core/Gen.hs
  core/test/cardano-sl-core-test.cabal
  pkgs/default.nix
Owners: @gromakovsky, @ignore-autogenerated-file

[CDEC-348] Change return to pure
  core/test/Test/Pos/Core/Gen.hs
Owners: @gromakovsky

[CDEC-351] Remove custom git dependencies where possible
  lib/cardano-sl.cabal
  pkgs/default.nix
  stack.yaml
Owners: @gromakovsky, @ignore-autogenerated-file

[CSL-2384] FIX: was using (Set Address) instead of (IxSet HdAddress) in Spec.Read pure layer
  wallet-new/src/Cardano/Wallet/Kernel.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet/Read.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Read.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Util/IxSet.hs
Owners: @adinapoli-iohk

[CDEC-348]: Add generator for `SscPayload`
  core/test/Test/Pos/Core/Gen.hs
  core/test/cardano-sl-core-test.cabal
  pkgs/default.nix
Owners: @gromakovsky, @ignore-autogenerated-file

[CDEC-348]: Add generator for `UpdateProposal`
  core/test/Test/Pos/Core/Gen.hs
  core/test/cardano-sl-core-test.cabal
  pkgs/default.nix
Owners: @gromakovsky, @ignore-autogenerated-file

[CDEC-348]: Add generator for `MainBody`
  core/test/Test/Pos/Core/Gen.hs
Owners: @gromakovsky

[CDEC-348]: Add generator for `BlockHeader`
  core/test/Test/Pos/Core/Gen.hs
Owners: @gromakovsky

[CDEC-348]: Add generator for `MainToSign`
  core/test/Test/Pos/Core/Gen.hs
Owners: @gromakovsky

[CDEC-348]: Add generator for `SscPayload`
  core/test/Test/Pos/Core/Gen.hs
  core/test/cardano-sl-core-test.cabal
  pkgs/default.nix
Owners: @gromakovsky, @ignore-autogenerated-file

[CDEC-348]: Add generator for `UpdateProposal`
  core/test/Test/Pos/Core/Gen.hs
  core/test/cardano-sl-core-test.cabal
  pkgs/default.nix
Owners: @gromakovsky, @ignore-autogenerated-file

[CDEC-348]: Add generator for `MainBody`
  core/test/Test/Pos/Core/Gen.hs
Owners: @gromakovsky

[CDEC-348]: Add generator for `BlockHeader`
  core/test/Test/Pos/Core/Gen.hs
Owners: @gromakovsky

[CDEC-348]: Add generator for `MainToSign`
  core/test/Test/Pos/Core/Gen.hs
Owners: @gromakovsky

Fix CI-build
  wallet-new/server/Cardano/Wallet/API/V1/Swagger.hs
  wallet-new/src/Cardano/Wallet/API/V1/LegacyHandlers/Wallets.hs
  wallet/src/Pos/Wallet/Web/Methods/Restore.hs
  wallet/src/Pos/Wallet/Web/State/Storage.hs
  wallet/src/Pos/Wallet/Web/Tracking/BListener.hs
  wallet/test/Test/Pos/Wallet/MigrationSpec.hs
Owners: @adinapoli-iohk, @martoon, @akegalj

CODEOWNERS:

<<<<<<< HEAD
# Unless a later match takes precedence, @erikd will be requested
# for review when someone opens a pull request. Anybody who would
# like to be added as a reviewer should feel free to add themselves
# below.

*                               @erikd
=======
# Unless a later match takes precedence, @gromakovsky will be requested
# for review when someone opens a pull request, because @gromakovsky
# is the Head Vulture of this project.

*                               @gromakovsky
>>>>>>> CHW-82-84, orphan branch

# Order is important; the last matching pattern takes the most precedence.

*.purs                          @akegalj

# Explorer
<<<<<<< HEAD
explorer/                             @akegalj
explorer/frontend/                    @sectore
explorer/src/                         @ksaric
explorer/test/                        @ksaric

# CI, Nix
*.nix                           @iohk-devops
appveyor.yml                    @iohk-devops
nixpkgs-src.json                @iohk-devops
pkgs/generate.sh                @iohk-devops
=======
explorer/                             @akegaljj
explorer/frontend/                    @sectore
explorer/src/                         @ksaric
explorer/src/Pos/Explorer/Socket/     @martoon
explorer/test/                        @ksaric

# CI, Nix
*.nix                           @domenkozar
appveyor.yml                    @domenkozar
nixpkgs-src.json                @domenkozar
pkgs/generate.sh                @domenkozar
>>>>>>> CHW-82-84, orphan branch
pkgs/default.nix                @ignore-autogenerated-file
scripts/ci/                     @iohk-devops
.buildkite/                     @iohk-devops
scripts/set_nixpath.sh          @iohk-devops

<<<<<<< HEAD
# Core components not included in the catch all above.
delegation/                     @akegalj
txp/                            @erikd
update/                         @adinapoli-iohk @parsonsmatt
lrc/                            @akegalj
ssc/                            @parsonsmatt
lib/test/                       @erikd
crypto/                         @vincenthz
=======
# Documentation
*.md                            @denisshevchenko

Delegation/                     @volhovm

txp/                            @gromakovsky @pva701
update/                         @gromakovsky @pva701
lrc/                            @pva701
ssc/                            @gromakovsky

lib/test/                       @rockbmb
lib/test/Test/Pos/Block/Logic/  @gromakovsky
>>>>>>> CHW-82-84, orphan branch

# Networking
infra/Pos/Network               @dcoutts @avieth
infra/Pos/Subscription          @dcoutts @avieth
networking/                     @dcoutts @avieth

# Benchmarks
scripts/bench                   @kantp @avieth

# Wallet
<<<<<<< HEAD
wallet/                         @adinapoli-iohk @akegalj
wallet/web-api-swagger          @adinapoli-iohk
wallet-new/                     @adinapoli-iohk @parsonsmatt @denisshevchenko
=======
wallet/                         @martoon @akegalj @adinapoli-iohk
wallet/web-api-swagger          @martoon @adinapoli-iohk
wallet-new/                     @adinapoli-iohk

## Auxx
auxx                            @int-index
>>>>>>> CHW-82-84, orphan branch
