Repository 10576769/cardano-sl, changes with the owners that CODEOWNERS names for each.
All owners: @gromakovsky, @akegalj, @domenkozar, @denisshevchenko, @neongreen, @volhovm, @flyingleafe, @pva701

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @global-owner1 and @global-owner2
# will be requested for review when someone opens a pull request.
*             @gromakovsky

# Order is important; the last matching pattern takes the most precedence.
# When someone opens a pull request that only modifies PURS files, only
# @akegalj and not the global owner(s) will be requested for a review.
*.purs        @akegalj
daedalus/     @akegalj

# CI, Nix
*.nix         @domenkozar
.travis.yml   @domenkozar
appveyor.yml  @domenkozar

*.md          @denisshevchenko

HLint.hs      @neongreen

Delegation/   @volhovm

Wallet/       @akegalj @flyingleafe

txp/          @gromakovsky @pva701 @neongreen
update/       @gromakovsky @pva701
lrc/          @pva701

[CSL-2384] Use persistent state in data layer
  wallet-new/cardano-sl-wallet-new.cabal
  wallet-new/server/Main.hs
  wallet-new/src/Cardano/Wallet/Kernel.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/AcidState.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet/Create.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Update.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Util.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Util/IxSet.hs
  wallet-new/src/Cardano/Wallet/Kernel/PrefilterTx.hs
  wallet-new/src/Cardano/Wallet/Kernel/Types.hs
  wallet-new/src/Cardano/Wallet/WalletLayer.hs
  wallet-new/src/Cardano/Wallet/WalletLayer/Kernel.hs
  wallet-new/test/unit/Test/Spec/Kernel.hs
  wallet-new/test/unit/Wallet/Inductive/Cardano.hs
Owners: @gromakovsky, @akegalj, @flyingleafe

[CSL-2384] Create Spec.Read Acidstate layer
  wallet-new/cardano-sl-wallet-new.cabal
  wallet-new/src/Cardano/Wallet/Kernel.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/AcidState.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet/Create.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Read.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Update.hs
  wallet-new/src/Cardano/Wallet/Kernel/PrefilterTx.hs
  wallet-new/src/Cardano/Wallet/WalletLayer.hs
  wallet-new/src/Cardano/Wallet/WalletLayer/Kernel.hs
  wallet-new/test/unit/Wallet/Inductive/Cardano.hs
Owners: @gromakovsky, @akegalj, @flyingleafe

[CSL-2384] AcidState Query, use single query on db snapshot
  wallet-new/cardano-sl-wallet-new.cabal
  wallet-new/src/Cardano/Wallet/Kernel.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/AcidState.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Read.hs
Owners: @gromakovsky, @akegalj, @flyingleafe

[CSL-2384] Implement 'our addresses', using AcidState Addresses for an Account (includes writing Addresses during wallet creation and applyBlock)
  wallet-new/src/Cardano/Wallet/Kernel.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/AcidState.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet/Create.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet/Read.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Read.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Update.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Util/IxSet.hs
  wallet-new/src/Cardano/Wallet/Kernel/PrefilterTx.hs
  wallet-new/test/unit/Wallet/Inductive/Cardano.hs
Owners: @akegalj, @flyingleafe

[CDEC-348] Add some gens for types in Pos.Core.Ssc
  core/test/Test/Pos/Core/Gen.hs
  core/test/cardano-sl-core-test.cabal
  pkgs/default.nix
Owners: @gromakovsky, @domenkozar

[CDEC-348] Change return to pure
  core/test/Test/Pos/Core/Gen.hs
Owners: @gromakovsky

[CDEC-351] Remove custom git dependencies where possible
  lib/cardano-sl.cabal
  pkgs/default.nix
  stack.yaml
Owners: @gromakovsky, @domenkozar

[CSL-2384] FIX: was using (Set Address) instead of (IxSet HdAddress) in Spec.Read pure layer
  wallet-new/src/Cardano/Wallet/Kernel.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/HdWallet/Read.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Spec/Read.hs
  wallet-new/src/Cardano/Wallet/Kernel/DB/Util/IxSet.hs
Owners: @akegalj, @flyingleafe

[CDEC-348]: Add generator for `SscPayload`
  core/test/Test/Pos/Core/Gen.hs
  core/test/cardano-sl-core-test.cabal
  pkgs/default.nix
Owners: @gromakovsky, @domenkozar

[CDEC-348]: Add generator for `UpdateProposal`
  core/test/Test/Pos/Core/Gen.hs
  core/test/cardano-sl-core-test.cabal
  pkgs/default.nix
Owners: @gromakovsky, @domenkozar

[CDEC-348]: Add generator for `MainBody`
  core/test/Test/Pos/Core/Gen.hs
Owners: @gromakovsky

[CDEC-348]: Add generator for `BlockHeader`
  core/test/Test/Pos/Core/Gen.hs
Owners: @gromakovsky

[CDEC-348]: Add generator for `MainToSign`
  core/test/Test/Pos/Core/Gen.hs
Owners: @gromakovsky

[CDEC-348]: Add generator for `SscPayload`
  core/test/Test/Pos/Core/Gen.hs
  core/test/cardano-sl-core-test.cabal
  pkgs/default.nix
Owners: @gromakovsky, @domenkozar

[CDEC-348]: Add generator for `UpdateProposal`
  core/test/Test/Pos/Core/Gen.hs
  core/test/cardano-sl-core-test.cabal
  pkgs/default.nix
Owners: @gromakovsky, @domenkozar

[CDEC-348]: Add generator for `MainBody`
  core/test/Test/Pos/Core/Gen.hs
Owners: @gromakovsky

[CDEC-348]: Add generator for `BlockHeader`
  core/test/Test/Pos/Core/Gen.hs
Owners: @gromakovsky

[CDEC-348]: Add generator for `MainToSign`
  core/test/Test/Pos/Core/Gen.hs
Owners: @gromakovsky

Fix CI-build
  wallet-new/server/Cardano/Wallet/API/V1/Swagger.hs
  wallet-new/src/Cardano/Wallet/API/V1/LegacyHandlers/Wallets.hs
  wallet/src/Pos/Wallet/Web/Methods/Restore.hs
  wallet/src/Pos/Wallet/Web/State/Storage.hs
  wallet/src/Pos/Wallet/Web/Tracking/BListener.hs
  wallet/test/Test/Pos/Wallet/MigrationSpec.hs
Owners: @akegalj, @flyingleafe
